* {
  font-size: 50px;
}
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(218, 230, 255, 0.205);
}

h2 {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}

.total {
  font-weight: bold;
}

.entries,
.expenses,
.recurring {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 1px 22px 1px #00000034;
  width: 99vw;
}

.entries > div {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  width: 85%;
  justify-content: space-between;
  border-radius: 10px;
}
.expenses > div {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  width: 85%;
  border-radius: 10px;
}
.recurring > div {
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 10px;
  justify-content: space-between;
  width: 85%;
  border-radius: 10px;
}

.expenses > div > button,
.recurring > div > button,
.entries > div > button {
  background-color: rgb(255, 0, 0);
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  font-size: 45px;
  box-shadow: 0px 1px 22px 1px #00000034;
}

.expenses > div > button:hover,
.recurring > div > button:hover,
.entries > div > button:hover {
  background-color: #333333;
}

.valores {
  display: flex;
  flex-wrap: wrap; /* Alterado para permitir que os elementos quebrem para uma nova linha */
  justify-content: space-evenly;
  flex-direction: column;

  width: 96vw;
}
button {
  background-color: #44c767;
  border-radius: 28px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  height: 20px;
  width: 30px;
}

button:hover {
  background-color: #5cbf2a;
}

.entradas,
.saidas,
.recorrente {
  display: flex;
  flex-direction: column;
}

.totais {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 99vw;
  background-color: white;
  box-shadow: 0px -2px 5px 1px #00000034;
}

#add {
  width: 80px;
  font-size: 40px;
  height: 80px;
  border-radius: 50px;
  margin-bottom: 40px;
}

.insert {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  width: 99vw;
  background-color: white !important;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 0px 4px 5px 1px #00000034;
}
.insert > input {
  width: 40vw;
  font-size: 35px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.192);
  text-align: center;
}

.insert > input:hover {
  background-color: rgba(168, 168, 168, 0.411);
}
.insert > #type {
  width: 40vw;
  height: 3vh;
  font-size: 30px;
  padding: 5px 5px 5px 5px;
  border-radius: 12px;
}
.insert > #type:hover {
  background-color: rgba(196, 195, 195, 0.356);
  cursor: pointer;
}

.insert > #type > option {
  font-size: 20px;
}

h3 {
  margin-left: 10px;
  font-size: 35px;
  color: gray;
  height: 100px;
}

.header {
  width: 99vw;
  height: 15vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 30px 30px 10px 10px;
  box-shadow: 0px 1px 22px 1px #00000034;
}

.header > button {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  margin-right: -600px;
  font-size: 25px;
  box-shadow: 0px 1px 22px 1px #00000034;
  border: none !important;
}
#balance {
  width: 99vw;
  margin: 0;
  background-color: white;
  margin: auto;
  text-align: center;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  float: right;
  cursor: pointer;
}
